.progress-container {
    width: 360px;
    height: 17px;
    /*border: 1.5px solid #007bff;*/
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #007bff;
    border-radius: 1rem;
}

.progress-bar-success {
    background-color: #4b5ce0;
}